# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ap-southeast-1
AWS_S3_LANDING_BUCKET=volve-landing
AWS_S3_BRONZE_BUCKET=volve-bronze

# Databricks
DATABRICKS_HOST=https://community.cloud.databricks.com
DATABRICKS_TOKEN=dapi_your_token_here
DATABRICKS_CLUSTER_ID=your_cluster_id_here

# NiFi
NIFI_API_URL=https://localhost:8443/nifi-api
NIFI_USERNAME=admin
NIFI_PASSWORD=adminpassword123

# Snowflake
SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_user_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_DATABASE=VOLVE_DB
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_SCHEMA=PUBLIC

# Airflow
AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
